@font-face {
  font-family: "gilroy-extrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-light";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaryColor: #00d8c8;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #2e2e2e;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --goferBlue: #2f2478;
  --goferPink: #ff0076;
  --goferYellow: #ffe300;
  --mainTransition: all 0.3s linear;
  --titleTransition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  --mainSpacing: 4px;
  --lightShadow:  0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  --darkShadow: 0px 0px 41px -19px rgba(46,46,46,.8);;
  --contact: rgb(182,157,230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: gilroy-light;
  color: var(--mainBlack);
  background: var(--mainPrimary);
  line-height: 1.4;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gilroy-extrabold;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  text-shadow: 13px 13px 30px -9px rgba(0,0,0,0.63);
}
/*p {
  margin-bottom: 2rem;
  text-align: center;
}*/
  .title {
    color: var(--mainBlack);
    
  }
.defaultHero {
  min-height: calc(100vh - 62px);
  background: url("../images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--goferYellow);
}
.btn-merchant{
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  border: 1.5px solid var(--primaryColor);
  padding: 0.6rem .9rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--primaryColor);
  border-radius: 20px;
  background: none;
}
.btn-merchant:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-read{
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  border: 1.5px solid var(--goferPink);
  padding: 0.6rem .9rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--goferPink);
  border-radius: 20px;
}
.btn-read:hover {
  background: var(--goferPink);
  color: var(--mainWhite);
}
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--goferPink);
}
.btn-primary {
  border-radius: 25px;
  background: var(--goferPink);
  color: var(--mainWhite);
  border: 2px solid var(--goferPink);
  align-items: center;
}
.btn-primary:hover {
box-shadow: 0px 0px 41px -10px rgba(255,0,119,1);
}
/* .gatsby-image-wrapper {
  max-height: 600px;
} */
.goferlogo {
  height: 40px;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn-help {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 5px;
}
.btn-help:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

/* supertitle */
.titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 00;
  max-width: 60vw;
  margin-left: 10vw;
}
.titleContainer h1 {
  font-size: 90px;
  margin: 0;
  line-height: 1.1em;
  text-shadow: 1px 3px 7px rgba(0,0,0,0.58);
}
.titleContainer p {
  font-size: 40px;
  margin: 0;
  line-height: 1.1em;
}

.titleWrapper {
  color: var(--mainWhite);
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 219, 199);
  /*transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);*/
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 1) * -0.4%) 100%,
    0 100%
  );
}
@media screen and (max-width:750px){
  .titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 00;
  max-width: 80vw;
  margin-left: 0;
}
  .titleContainer h1 {
  margin-left: 5vw;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 6px;
  width: 100%;
}
}

