@font-face {
  font-family: "gilroy-extrabold";
  font-display: swap;
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-light";
  font-display: swap;
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaryColor: #00dbc7;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #2e2e2e;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --goferBlue: #2f2478;
  --goferPink: #ff0076;
  --goferYellow: #ffe300;
  --mainTransition: all 0.3s linear;
  --titleTransition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  --mainSpacing: 4px;
  --lightShadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  --darkShadow: 0px 0px 41px -19px rgba(46, 46, 46, 0.8);
  --contact: rgb(182, 157, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainPrimary);
  line-height: 1.4;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  text-shadow: 13px 13px 30px -9px rgba(0, 0, 0, 0.63);
}
/*p {
  margin-bottom: 2rem;
  text-align: center;
}*/
.title {
  color: var(--mainBlack);
}
.heroWrapper {
  height: calc(100vh - 65px);
}
.btn-white {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--goferYellow);
}
.btn-merchant {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  border: 1.5px solid var(--primaryColor);
  padding: 0.4rem 0.7rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--primaryColor);
  border-radius: 20px;
  background: none;
}
.btn-merchant:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* Merchant Arengu form*/
.af-legal-required {
  display: flex !important;
}
.af-form {
  max-width: 700px !important;
}
.af-step-navigation {
  text-align: left !important;
}
.af-step-button {
  margin: 0;
}
.af-step-next button[type="submit"] {
  background-color: #00dbc7;
}
/* End */
.btn-read:hover {
  background: var(--goferPink);
  color: var(--mainWhite);
}
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--goferPink);
}
.btn-primary {
  border-radius: 20px;
  background: var(--goferPink);
  color: var(--mainWhite);
  border: 2px solid var(--goferPink);
  align-items: center;
}
.btn-primary:hover {
  box-shadow: 0px 0px 41px -10px rgba(255, 0, 119, 1);
}
/* .gatsby-image-wrapper {
  max-height: 600px;
} */
.goferlogo {
  height: 40px;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* supertitle */
.titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 00;
  max-width: 60vw;
  margin-left: 10vw;
}
.titleContainer h1 {
  font-size: 90px;
  margin: 0;
  line-height: 1.1em;
  text-shadow: 1px 3px 7px rgba(0, 0, 0, 0.58);
}
.titleContainer p {
  font-size: 40px;
  margin: 0;
  line-height: 1.1em;
}

.titleWrapper {
  color: var(--mainWhite);
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 219, 199);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 1) * -0.4%) 100%,
    0 100%
  );
}
.slick-slider-fade .slick-track {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
@media screen and (max-width: 750px) {
  .titleContainer {
    position: relative;
    --maskX: 0;
    --maskY: 00;
    max-width: 90vw;
    margin-left: 5px;
  }
  .titleContainer h1 {
    margin-left: 5vw;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    letter-spacing: 6px;
    width: 100%;
  }
}
/* Arengu*/
.af-step-step-JMB4 {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 700px;
}
.af-step-step-JMB4 .af-step {
  position: relative;
}
.af-step-step-JMB4 .af-field-legal {
  position: absolute;
  top: 47px;
}
.af-step-step-JMB4 .af-field {
  width: auto;
}
.af-step-step-JMB4 .af-step-navigation {
  margin: 0;
}
.af-step-step-JMB4 .af-button button[type="submit"] {
  padding: 9px 24px;
  background-color: #ff0076;
}
.af-step-step-JMB4 .af-step-button {
  margin: 0 15px;
}
@media screen and (min-width: 700px) {
  .af-step-step-JMB4 .af-field-legal {
    left: 91px;
  }
  .af-step-step-JMB4 .af-field {
    width: 500px;
  }
}

/*End*/

/* SLick */
.slide {
  height: 100%;
}
.slick-slide {
  height: auto;
}
.slider-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
.slider-box {
  max-width: 500px;
  width: 325px;
  height: 100%;
  position: relative;
  outline: none;
}
.slider-box img {
  margin: auto;
}
.slider-box2 {
  margin-top: 8em;
  max-width: 500px;
  height: 600px;
}
.slider-box2 p {
  display: none;
  margin-bottom: 0;
  color: #2e2e2e;
}
.slider-box2 .slick-list {
  overflow: visible;
}
.slider-box2 h3 {
  margin-bottom: 0;
}
.slider-box2 h5 {
  margin-bottom: 0;
  color: #333335;
}
.slider-box2 .slick-current {
  color: #00dbc7;
}
.slick-current .info-step1 {
  border-left: 10px solid #ff0076;
}
.slick-current p {
  display: inline;
}
.slick-next {
  right: 25px !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-dots {
  bottom: 0 !important;
}
.slick-prev::before,
.slick-next::before {
  color: #333335 !important;
  font-size: 25px;
}
.info-step1 {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin-bottom: 1em;
  border-left: 10px solid #00dbc7;
}

.info-step1 h3 {
  font-weight: 600;
}
.info-step1 img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  /* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3 {
  /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 790px) {
  .info-step1 {
    margin-left: 0.5em;
    width: 95% !important;
    padding: 14px 20px 14px 20px;
  }

  .slider-box {
    width: 100vw;
  }

  .slider-box2 {
    margin-top: 0;
    height: auto;
    margin-bottom: 4em;
  }
  .slider-box2 p {
    display: inline;
    font-size: 0.7em;
    margin-bottom: 8px;
  }
  .slider-box2 h3 {
    font-size: 1em;
  }
  .slider-box2 h5 {
    font-size: 0.6em;
    margin-bottom: 5px;
  }
  .slider-box2 .slick-list {
    overflow: hidden;
    height: auto;
  }
  .slider-box .slick-list {
    width: 200px;
    margin: auto;
  }
}

/* Features */
