@font-face {
  font-family: "gilroy-extrabold";
  font-display: swap;
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-light";
  font-display: swap;
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaryColor: #00dbc7;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #333335;
  --bgBlack: #1a1919;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --goferBlue: #2f2478;
  --goferPink: #ff0076;
  --goferYellow: #ffe300;
  --mainTransition: all 0.3s linear;
  --titleTransition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  --mainSpacing: 4px;
  --secondSpacing: 1px;
  --lightShadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  --darkShadow: 0px 0px 41px -19px rgba(46, 46, 46, 0.8);
  --contact: rgb(182, 157, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.light-mode {
  color: var(--mainBlack);
  background: var(--mainPrimary);
  line-height: 1.4;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #fefefe;
  line-height: 1.4;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  text-shadow: 13px 13px 30px -9px rgba(0, 0, 0, 0.63);
}

.navbar {
  padding: 0 2rem;
  background-color: var(--primaryColor);
  z-index: 3;
}
body.dark-mode .navbar {
  padding: 0 2rem;
  background-color: var(--mainBlack);
}

@media screen and (min-width: 990px) {
  li a,
  .dropbtn {
    display: inline-block;
    color: var(--primaryColor);
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .down:hover .dropbtn {
    background-color: var(--primaryColor);
  }

  li.down {
    display: inline-block;
  }

  .Soccer-content {
    display: none;
    position: fixed;
    background-color: var(--primaryColor);
    min-width: 160px;
    z-index: 1;
  }
  body.dark-mode .Soccer-content {
    background-color: var(--mainBlack);
  }
  .Soccer-content a {
    color: var(--mainWhite);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .down:hover .Soccer-content {
    display: block;
  }
}
.home-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -1000%;
}

.navlogo {
  position: relative;
  background-image: url("../images/gofer1.webp");
  width: 140px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
body.dark-mode .navlogo {
  background-image: url("../images/gofer2.webp");
}
/*footer*/
.quick-links {
  background-color: var(--primaryColor);
  width: 100vw;
}
body.dark-mode .quick-links {
  background-color: var(--bgBlack);
}
.footer {
  background: var(--primaryColor);
  padding: 2rem;
  color: var(--mainWhite);
}
body.dark-mode .footer {
  background-color: var(--bgBlack);
}
/*dark mode*/
.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  position: absolute;
  right: 6%;
  top: 12px;
}
.dark-mode-toggle > button {
  font-size: 1.5em;
  background: none;
  border: none;
  color: var(--mainWhite);
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle :last-child {
  color: var(--mainWhite);
}
.dark-mode-toggle :focus {
  outline: none;
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type="checkbox"].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type="checkbox"].dmcheck:checked + label {
  left: 30px;
}

input[type="checkbox"].dmcheck:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #f6f6f6;
}
body.dark-mode .dark-mode-toggle > button {
  color: #999;
}
body.dark-mode .dark-mode-toggle > button:last-child {
  color: var(--mainWhite);
}

/*p {
  margin-bottom: 2rem;
  text-align: center;
}*/
.title {
  color: var(--mainBlack);
}
.heroWrapper {
  height: calc(100vh - 65px);
}
.btn-white {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--goferYellow);
}
.btn-merchant {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  border: 1.5px solid var(--primaryColor);
  padding: 0.4rem 0.7rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--primaryColor);
  border-radius: 20px;
  background: none;
}
.btn-merchant:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* Merchant Arengu form*/
.af-legal-required {
  display: flex !important;
}
.af-form {
  max-width: 700px !important;
}
.af-step-navigation {
  text-align: left !important;
}
.af-step-button {
  margin: 0;
}
.af-step-next button[type="submit"] {
  background-color: #00dbc7;
}
/* End */
.btn-read:hover {
  background: var(--goferPink);
  color: var(--mainWhite);
}
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--goferPink);
}
.btn-primary {
  border-radius: 20px;
  background: var(--goferPink);
  color: var(--mainWhite);
  border: 2px solid var(--goferPink);
  align-items: center;
}
.btn-primary:hover {
  box-shadow: 0px 0px 41px -10px rgba(255, 0, 119, 1);
}
/* .gatsby-image-wrapper {
  max-height: 600px;
} */
.goferlogo {
  height: 40px;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* supertitle */
.titleContainer {
  position: relative;
  --maskX: 0;
  --maskY: 00;
  max-width: 60vw;
  margin-left: 10%;
}
.titleContainer h1 {
  font-size: 90px;
  margin: 0;
  line-height: 1.1em;
  text-shadow: 1px 3px 7px rgba(0, 0, 0, 0.58);
}
.titleContainer p {
  font-size: 40px;
  margin: 0;
  line-height: 1.1em;
}

.titleWrapper {
  color: var(--mainWhite);
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 219, 199);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 1) * -0.4%) 100%,
    0 100%
  );
}
.slick-slider-fade .slick-track {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
@media screen and (max-width: 750px) {
  .titleContainer {
    position: relative;
    --maskX: 0;
    --maskY: 00;
    max-width: 95vw;
    margin-left: 0;
  }
  .titleContainer h1 {
    margin-left: 5vw;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    letter-spacing: 6px;
    width: 100%;
  }
}
/* Arengu*/
.af-step-step-JMB4 {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 700px;
}
.af-step-step-JMB4 .af-step {
  position: relative;
}
.af-step-step-JMB4 .af-field-legal {
  position: absolute;
  top: 47px;
}
.af-step-step-JMB4 .af-field {
  width: auto;
}
.af-step-step-JMB4 .af-step-navigation {
  margin: 0;
}
.af-step-step-JMB4 .af-button button[type="submit"] {
  padding: 9px 24px;
  background-color: #ff0076;
}
.af-step-step-JMB4 .af-step-button {
  margin: 0 15px;
}
body.dark-mode .af-field-label label {
  color: #fff;
}
.af-legal-required a {
  color: var(--goferPink);
}
.af-legal label {
  margin-top: 20px;
}
body.dark-mode .af-legal label {
  color: #f7f7f7;
}
@media screen and (min-width: 700px) {
  .af-step-step-JMB4 .af-field-legal {
    left: 130px;
  }
  .af-step-step-JMB4 .af-field {
    width: 500px;
  }
}
/*End*/

/* SLick */
.slide {
  height: 100%;
}
.slick-slide {
  height: auto;
}
.slider-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
.slider-box {
  max-width: 500px;
  width: 430px;
  height: 100%;
  position: relative;
  outline: none;
}
.slider-box img {
  margin: auto;
}
.slider-box2 {
  margin-top: 8em;
  max-width: 500px;
  height: 600px;
}
.slider-box2 p {
  display: none;
  margin-bottom: 0;
  color: #333335;
}

.slider-box2 .slick-list {
  overflow: visible;
}
.slider-box2 h3 {
  margin-bottom: 0;
}
.slider-box2 h5 {
  margin-bottom: 0;
  color: #333335;
}
body.dark-mode .slider-box2 h5 {
  margin-bottom: 0;
  color: #999;
}
.slider-box2 .slick-current {
  color: #00dbc7;
}
.slick-current .info-step1 {
  border-left: 10px solid #ff0076;
}
.slick-current p {
  display: inline;
  color: #333335;
  letter-spacing: var(--secondSpacing);
}
body.dark-mode .slick-current p {
  display: inline;
  color: #999;
  letter-spacing: var(--secondSpacing);
}
.slick-next {
  right: 25px !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-dots {
  bottom: 0 !important;
}
.slick-prev::before,
.slick-next::before {
  color: #333335 !important;
  font-size: 25px;
}
body.dark-mode .slick-prev::before,
.slick-next::before {
  color: #999 !important;
  font-size: 25px;
}
.info-step1 {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin-bottom: 1em;
  border-left: 10px solid #00dbc7;
}
body.dark-mode .info-step1 {
  background: #333335;
}
.info-step1 h3 {
  font-weight: 600;
}
body.dark-mode .info-step1 h3 {
  font-weight: 600;
  color: #fff;
}
.info-step1 img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  /* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3 {
  /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 790px) {
  .info-step1 {
    margin-left: 0.5em;
    width: 95% !important;
    padding: 14px 20px 14px 20px;
  }

  .slider-box {
    width: 100vw;
  }

  .slider-box2 {
    margin-top: 0;
    height: auto;
    margin-bottom: 4em;
  }
  .slider-box2 p {
    display: inline;
    font-size: 0.6em;
  }
  .slider-box2 h3 {
    font-size: 1em;
  }
  .slider-box2 h5 {
    font-size: 0.6em;
    margin-bottom: 5px;
  }
  .slider-box2 .slick-list {
    overflow: hidden;
    height: auto;
  }
  .slider-box .slick-list {
    width: 200px;
    margin: auto;
  }
}

/* HIW */
.hiw-bgcolor {
  position: absolute;
  height: 390px;
  width: 85vw;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--primaryColor);
  left: 0;
  top: 10%;
  z-index: -2;
}
body.dark-mode .hiw-bgcolor {
  background-color: #333335;
}
.hiw-text {
  top: 0;
  left: 2%;
  font-size: 3em;
  position: absolute;
  color: rgba(46, 46, 46, 0.08);
}
body.dark-mode .hiw-text {
  color: rgba(99, 98, 98, 0.2);
}

/*Download*/
.dl-bgcolor {
  height: 550px;
  width: 90vw;
  border-radius: 50px 0px 0px 50px;
  background-color: var(--primaryColor);
  position: absolute;
  top: 15%;
  right: 0;
  z-index: -2;
}
body.dark-mode .dl-bgcolor {
  background-color: #333335;
}
.down-load {
  top: 35px;
  font-size: 3em;
  position: absolute;
  color: rgba(46, 46, 46, 0.08);
  left: -10%;
}
body.dark-mode .down-load {
  color: rgba(99, 98, 98, 0.2);
}
/*Blogs*/
.title-fp {
  font-size: 2em;
}
body.dark-mode .title-fp {
  color: #fff;
}
.btnread-fp {
  margin-top: 4em;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: var(--goferPink);
  border: none;
  transition: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--goferPink);
}
body.dark-mode .btnread-fp {
  color: var(--goferYellow);
  border-color: var(--goferYellow);
}
.btnread-fp:hover {
  background: var(--goferPink);
  color: var(--mainWhite);
}
body.dark-mode .btnread-fp:hover {
  background: var(--goferYellow);
  color: var(--mainWhite);
}
.btnread-fp span {
  margin-left: 0.5rem;
  transition: 0.2s;
}
.stretched-links {
  top: 85%;
  left: 30%;
  position: absolute;
  color: var(--goferPink);
}
body.dark-mode .stretched-links {
  top: 85%;
  left: 30%;
  position: absolute;
  color: var(--goferYellow);
}
.blog-bgcolor {
  height: 400px;
  width: 85vw;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  margin-right: 2rem;
}
body.dark-mode .blog-bgcolor {
  background-color: #333335;
}
.feature-update {
  top: 23%;
  right: 3%;
  font-size: 4em;
  position: absolute;
  color: rgba(46, 46, 46, 0.08);
}
body.dark-mode .feature-update {
  color: rgba(99, 98, 98, 0.2);
}
.container-footer {
  padding: 1rem;
  height: 400px;
  align-content: center;
  position: relative;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 0.5rem 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
body.dark-mode .container-footer {
  background: #333335;
}
.container-footer h3 {
  margin-top: 0;
  color: #333335;
}
body.dark-mode .container-footer h3 {
  color: #fff;
}

/*rider*/
.contact-login {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 565px;
  color: #000;
  width: 80vw;
  padding: 2em 1em 1em;
border-radius: 15px;
} 
body.dark-mode .contact-login h4 {
  color: #fff;
}
body.dark-mode .contact-login p {
  color: #fff;
}
.contact-login .contact-space {
  font-weight: 700;
}
.session{
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
body.dark-mode .session{
  background: #333335;
}
/*help*/
.help-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: 80vw;
  max-width: 80vw;
  margin-bottom: 10vh;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body.dark-mode .help-card {
  background: #333335;
}
.card-pic-wrap {
  border-radius: 20px 0 0 20px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to bottom, #00dbc7, #00dbc8);
}
body.dark-mode .card-pic-wrap {
  background: #797979;
}
.card-pic-wrap .helpImg {
  position: relative;
  left: -10%;
  width: 350px;
  -webkit-box-reflect: below -1px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(90%, transparent),
      to(rgba(250, 250, 250, 0.15))
    );
}
.journey {
  margin: 0;
  border: 1px solid rgb(217, 186, 232);
  border-radius: 5px;
  padding: 35px 15px 0px 15px;
  margin: 0 auto;
  background-color: rgb(252, 250, 255);
}
body.dark-mode .journey {
  background-color: var(--mainBlack);
}
.helpcenter {
  border: 1px solid rgb(99, 184, 246);
  border-radius: 5px;
  padding: 15px 15px 0px 15px;
  margin: 0 auto;
  background-color: rgb(245, 252, 255);
}
body.dark-mode .helpcenter {
  background-color: var(--mainBlack);
}

/*Contact*/
.contact {
  width: 100%;
    padding: 0 0;
  margin: auto;
  background: linear-gradient(
    0deg,
    #00dbc7 -0.58%,
    rgba(0, 219, 199, 0) 87.55%
  );
}
body.dark-mode .contact {
  background: var(--bgBlack);
}

  .center {
    width: 80vw;
    margin-top: 80px;
    background-color: #fff;
    padding: 40px;
    margin-bottom: 80px;
    margin: auto;
  }

/*susbscribe*/
.subs-body {
  margin: 0;
  background: linear-gradient(
    0deg,
    #00dbc7 -0.58%,
    rgba(0, 219, 199, 0) 87.55%
  );
  display: flex;
  justify-content: center;
}
body.dark-mode .subs-body {
  background: var(--bgBlack);
}
.subs-card {
  max-width: 1170px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.subs-card h2 {
  font-size: 2em;
  margin-bottom: 0;
  color: #2f2478;
}
body.dark-mode .subs-card h2 {
  color: var(--mainWhite);
}
/*about*/
.bg-light {
  background: var(--mainWhite);
  color: #333;
}
body.dark-mode .bg-light {
  background: var(--bgBlack);
  color:var(--mainWhite);
}
.center1 {
  text-align: center;
  margin: auto;
  z-index: 2;
  margin: 0;
  border: 1px solid rgb(217, 186, 232);
  border-radius: 5px;
  padding: 35px 15px 0px 15px;
  margin: 0 auto;
  background-color: rgb(252, 250, 255);
}
body.dark-mode .center1 {
  text-align: center;
  margin: auto;
  z-index: 2;
  margin: 0;
  border: 1px solid rgb(217, 186, 232);
  border-radius: 5px;
  padding: 35px 15px 0px 15px;
  margin: 0 auto;
  background-color: #333335;
}
/*Media*/
@media screen and (min-width: 768px) {
  .hiw-bgcolor {
    height: 550px;
    width: 50vw;
  }
  body.dark-mode .hiw-bgcolor {
    height: 550px;
    width: 50vw;
  }
  .hiw-text {
    top: -8%;
    left: 25%;
    font-size: 7em;
  }
  .dl-bgcolor {
    width: 75vw;
    height: 550px;
  }
  body.dark-mode .dl-bgcolor {
    width: 75vw;
    height: 550px;
  }
  .down-load {
    left: 0;
    top: -3%;
    font-size: 7em;
  }
  body.dark-mode .down-load {
    font-size: 7em;
  }
  .blog-bgcolor {
    width: 30%;
  }
  .feature-update {
    top: -25%;
    right: 10%;
    font-size: 7em;
  }
  .dark-mode-toggle {
    display: flex;
    margin: 0 auto;
    position: absolute;
    right: -3%;
  }
  .contact-login {
    width: 565px;
  }
  body.dark-mode .contact-login {
    width: 565px;
  }
  .help-card {
    flex-direction: row;
    background: #fff;
    margin-bottom: 10vh;
    border-radius: 20px;
  }
  .card-pic-wrap {
    width: 300px;
  }
  .card-pic-wrap .helpImg {
    position: absolute;
  }
  .center {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
      background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}
body.dark-mode .center{
  background: var(--bgBlack);
}
}
