.about-container {
  margin: 0;
}
.hero-section {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 800px;
}
.hero-txt {
  width: 45%;
  margin-left: 5%;
  position: relative;
  background-color: #ffffff;
}
.animated-txt h4 {
  font-size: 1.6rem;
  width: 250px;
  max-height: 150px;
}
.animated-txt2 {
  position: absolute;
  top: 150px;
  left: 0;
}
.animated-text {
  width: 700px;
  height: 150px;
  max-width: 150px;
}
.hero-image {
  position: absolute;
  width: 70%;
  right: 0;
  z-index: -2;
}

@media screen and (min-width: 500px) {
  .about-container {
  }
  .about-hero {
  }
  .hero-image {
    width: 40%;
  }
  .hero-txt {
    margin-left: 10%;
  }
  .animated-txt h4 {
    font-size: 3rem;
    width: 700px;
    max-height: 150px;
  }
}
