.about {
  margin-top: 7rem;
  height: 100vh;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
}
.about-img {
  margin: 3rem 0;
}
.about-info {
  margin-top: 2rem;
  text-align: center;
}
.about-img {
  position: relative;
}

.about-img img {
  width: 100%;
  display: block;
}

.about-info h2 {
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.about-info h2 span{
  margin:  0 0.35rem;
}
.down-load{
  top: -30px;
  font-size: 3em;
  position: absolute;
  color: rgba(46,46, 46, 0.08);
}
@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }
  .about {
  margin-top: 0;
  height: 100vh;
}
.down-load{
  top: -50px;
  font-size: 5em;
  position: absolute;
  color: rgba(46,46, 46, 0.08);
}
  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 800px;
  }
  .img-container {
    max-height: 800px;
  }
}
@media screen and (min-width: 992px) {
  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    max-width: 1170px;

  }
}

