body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: '';
  height: 60vh;
  width: 100%;
  background-image: url("../images/defaultBcg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.about-hl{
  font-weight: bold;
  color: #00dbc7;
}
.content {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  margin-top: 70px;
  margin-left: -250px;
  width: 500px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  width: 180px;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem 0 1rem;
}
.container2 {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
  display: flex;
  z-index: 2;
}
.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.center {
  text-align: left;
  margin: auto;
  z-index: 2;
}
.center2 {
  text-align: left;
  margin: auto;
  z-index: 2;
}

.center1 {
  text-align: center;
  margin: auto;
  z-index: 2;
  margin: 0;
  border: 1px solid rgb(217, 186, 232);
  border-radius: 5px;
  padding: 35px 15px 0px 15px;
  margin: 0 auto;
  background-color: rgb(252, 250, 255);
}
.about1{
  height: 100vh;
  position: relative;
}
.aboutbg{
  width: 100%;
  position: absolute;
  bottom: -65px;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}
.grid-div{
  margin: auto;
  text-align: left;
}
.grid-div1{
  margin: auto;
  text-align: left;
}

/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 60vh;
  }
  .aboutbg{
  width: 100%;
  position: absolute;
  bottom: -105px;
  z-index: 1;
}
  .about1{
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
}
.center1{
  z-index: unset;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem 0 1rem;
}
  .content {
    margin-top: 5px;
  }

  .content .logo {
    width: 140px;
  }

  .content .text {
   padding: 10px 90px;
  }
  .grid-2{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  }
  .grid-2 .center{
    order:2;
  }
    .grid-2 .grid-div{
    order:1;
  }
    .grid-2 .center2{
    order:1;
  }
    .grid-2 .grid-div1{
    order:2;
  }
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}

/*body end*/
/*word-slider*/
 /*Sentence*/
.sentence{
      margin:  auto;
    padding: 0px 40px;
    position: relative;
     font-size: 20px;
     text-align: left;
     left: 15%;
}
/*Vertical Sliding*/
.slidingVertical{
  display: inline;
  text-indent: 10px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #00dbc7;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*end*/


@media screen and (min-width: 500px) {
.sentence{
      margin:  auto;
    padding: 0px 40px;
    position: relative;
     font-size: 30px;
     text-align: left;
     left: 25px;
}
}
