.footer {
  margin-top: auto;
  background: var(--primaryColor);
  padding: 2rem;
  color: var(--mainWhite);
}
.links a {
  display: inline-block;
  text-decoration: none;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-size: smaller;
}
.links a:hover {
  color: var(--goferBlue);
}
.icons a {
  display: inline-block;
  margin: 0.5rem 0;
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}
.icons a:hover {
  color: var(--goferBlue);
  transform: translateY(-5px);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 0.6em;
}
.footerrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.footerdesc {
  flex: 1 0 30%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 0 1.45rem;
  
}
.footerdesc1 {
  flex: 1 0 30%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 0 1.45rem;
    justify-content: space-evenly;

}
.footerdesc1 {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 0 1.45rem;
}
.footerrow h5 {
  margin-bottom: 5px;
}
ul {
  text-align: left;
}
li {
  list-style: none;
  text-align: left;
}
.title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  letter-spacing: var(--mainSpacing);
  font-size: x-small;
}
@media(max-width:700px){
  ul {
  text-align: left;
  font-size:9px;
  line-height: 2em;
}
li {
  list-style: none;
  text-align: left;
}
}
