.center-download{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
      align-items: center;
}
.left-download{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    height: 70vh;
    margin-block-start: 3em;
}
.bg-color{
  position: absolute;
  height: 550px;
  width: 85vw;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--primaryColor);
  background-color: #00dbc7;
  left: 0;
  top: 10%;
  z-index: -2;
}
.hiw-text{
  top: 0;
  left: 2%;
  font-size: 3em;
  position: absolute;
  color: rgba(46,46, 46, 0.08);
}
.sc-holder{
  position: relative;
}
.right-download{
    flex-flow: row wrap;
    width: 55%;
    text-align: center;
    margin: auto;
      align-items: center;
  justify-content: center;
}
.left-download .home1{
  height: 70vh;
  object-fit: cover;
}
.txt-bg{
  position: relative;
}
.info-txt{
  position: absolute;
  text-align: center;
  right:40%;
  top: 40%;
  z-index: 1;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media screen and (min-width: 768px){
  .bg-color{
  height: 550px;
  width: 50vw;
}
.hiw-text{
  top: -8%;
  left: 25%;
  font-size: 7em;
}
}