.tours {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4rem;
  max-width: 90vw;
  margin: auto;
  position: relative;
}
.help-tours {
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 4rem;
  justify-content: center;
}
.cut {
  display: flex;
  flex-direction: row;
}
.center {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.help-center {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
}
.right-fp {
  width: 85%;
  height: 400px;
  padding: 2rem 0rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;
}

.fp-holder {
  position: relative;
  margin-top: 6em;
  margin-bottom: 8em;
}

.link-fp {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .right-fp {
    height: 400px;
    width: 50%;
  }
  .center {
    flex: 65%;
    justify-content: space-evenly;
  }
  .right-fp {
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0rem 2rem 0rem 0rem;
  }
}
