.tours {
  padding: 4rem 0;
  text-align: center;
  background: var(--mainGrey)
}
.cut{
  display: flex;
  flex-direction: row;
}
.center {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
}
.right{
   width: 30vw;
  margin: 3rem auto;

}
@media screen and (min-width: 576px) {
  .center {
    grid-template-columns: repeat(auto-fill, minmax(368.66px, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .center {
    width: 100%;
    max-width: 1170px;
  }
}





