.contain {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: auto;
}

.card {
  position: relative;
  background: #333;
  width: 400px;
  height: 60vh;
  border-radius: 10px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 3rem;
  text-align: center;
}

.cardimage-container {
  margin: -2rem -2rem 1rem -2rem;
}

.cardline {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}

.cardimage {
  opacity: 0;
  animation: ImageFadeIn 0.8s 1.4s forwards;
}

.cardtitle {
  color: white;
  margin-top: 0.5rem;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-align: center;
}

.cardcontent {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.cardcontent .btn-merchant a {
  text-decoration: none;
  color: var(--primarColor);
}
.cardcontent .btn-merchant a:hover {
  text-decoration: none;
  color: var(--mainWhite);
}
.cardcontent h4 {
  margin-top: 2rem;
}
.cardcontent .btn-merchant {
  margin-top: 1rem;
}

.cardsvg {
  position: absolute;
  left: 0;
  top: 115px;
}

@media screen and (max-width: 800px) {
  .cardtitle {
    font-size: 1rem;
  }
  .cardcontent .btn-merchant {
    margin-top: 0;
    font-size: 0.5rem;
  }
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path(
      "M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "
    );
    stroke: #fff;
  }
  100% {
    opacity: 1;
    d: path(
      "M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"
    );
    stroke: #545581;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
