.services {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.service {
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
}
.service span {
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.img-cont {
  width: 150px;
  align-items: center;
  margin-bottom: 1em;
}
.img-cont img {
  width: 150px;
}
