.blog {
  padding: 0 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.blog h1,
.blog h5 {
  text-transform: capitalize;
}
.post {
  margin: 0 0;
  text-align: justify;
}
.blog .img {
  max-height: 30vw;
  margin-bottom: 2rem;
}
