.tour {
  width: 250px;
  margin: 0;
  transition: 0.2s;
  cursor: pointer;
}

.help {
  margin: auto;
  border-radius: 20px;
  text-align: left;
}
.help:hover {
  box-shadow: var(--lightShadow);
}

.fp-img {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
}

.img {
  transition: var(--mainTransition);
  height: 150px;
}

.titlelink {
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 2em;
  color: var(--mainWhite);
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin-top: 8rem;
  bottom: 0;
}
.info h6,
.info h4 {
  margin-bottom: 0;
  margin: auto;
}
.info h3 {
  font-size: 1em;
}
.country {
  text-transform: capitalize;
  color: var(--primaryColor);
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.4rem;
}
.details {
  color: var(--darkGrey);
  text-transform: uppercase;
  text-align: right;
}
.tag {
  position: absolute;
  left: 0;
  top: 25%;
  color: #00dbc7;
  background: var(--mainWhite);
  padding: 0.3rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 2;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.help {
  width: auto;
  margin: auto;
  border-radius: 20px;
  text-align: left;
}
.help-wrap {
  height: 100%;
}

.card-content {
  padding: 3em 4em 2em;
}
.card-content h3 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5rem;
}
.card-content p {
  margin-bottom: 0.5rem;
  font-size: 0.9em;
}
.card-content a {
  background: #00dbc7;
  color: #fff;
  padding: 0 20px;
  height: 40px;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 40px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1.5em;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-content a:hover {
  background: none;
  color: #00dbc7;
}

@media (max-width: 790px) {
  .tour {
    margin-top: 100px;
  }
  .help-wrap {
    margin-left: 20px;
    margin-right: 20px;
  }

  .card-content {
    padding: 1em 1em 0em;
  }
}

.border {
  position: absolute;
  width: 104%;
  height: 104%;
  padding: 6px;
  border: 1px solid#00dbc7;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

/* 
** Media Queries
*/
/*  <article className={styles.tour}>
      <div className={styles.footer}>
        <h3>{title}</h3>
        <AniLink
          aria-label="link-singlepost"
          fade
          className={styles.stretchedLink}
          to={`/blog/${slug}`}
        ></AniLink>
        <div className={styles.info}>
          <h6 className={styles.tag}>Featured</h6>
          <div className={styles.details}></div>
        </div>
      </div>
      <div className={styles.imgContainer}>
        <Img
          loading="lazy"
          fluid={mainImage}
          className={styles.img}
          alt="single tour"
        />
        <div className={styles.link}>{author}</div>
      </div>
    </article> */
